nav {
    background-color: grey;
    text-decoration: none;
    color: #fff;
    /* padding: 5px; */
}

li.menu{
    list-style: none;
    text-align: center;
    display: inline-block;
}

ul {
    text-align: left;
    vertical-align: center;
    list-style: none;
    line-height: 30px;
}

a{
    text-decoration: none;
    
}
a.menu{
    color: #fff;
    width: 200px;
    color: f#fff;
    display: block;
}

a.menu:hover{
    background-color: bisque;
    display: block;
}

a.cliente{
    text-decoration: none;
    width: 100px;
}

a.cliente:visited{
    text-decoration: none;
    color: #000;
}

body {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}

div.colum1 {
    position:absolute;
    padding: 10px;
    width: 30%;
    height: auto;
    top:10px;
    left:0px;
    display: inline-block;
    background-color: #f3adad;
}

div.colum2 {
    position:absolute;
    vertical-align: top;
    padding: 10px;
    /* text-align: justify; */
    width: 60%;
    height: auto;
    top: 10px;
    right: 100px;
    float: right;
    background-color:#b7def1;
}
#consultas {
    position:absolute;
    height: auto;
    width: 100%;
    margin: 20px;
    display: inline;
    
}

input.text {
    margin-top: 5px;
}

input.buttom {
    margin-top: 5px;
}